body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkolivegreen;
    display: flex;
    flex-direction: column;
}

.title-headers {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main h1 {
    flex: 1;
}

.main h2 {
    flex: 2;
    text-align: center
}

.assignment-header {
    text-align: center;
    font-size: xx-large;
}

.assignment-sub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.assignment img {
    width: calc(100%-20px);
    object-fit: cover;
    height: auto;
    border-radius: 1px;
}

.assignment h2 {
    color: red;
}

.assignment-1 {
    border: 1px solid;
    padding: 15px;
    text-align: center;
    background-color: lightblue;
    width: 300px;
}

.assignment-2 {
    border: 1px solid;
    padding: 15px;
    text-align: center;
    background-color: lightblue;
    width: 300px;
}

.assignment-3 {
    border: 1px solid;
    padding: 15px;
    text-align: center;
    background-color: lightblue;
    width: 300px;
}