body {
    font-family: 'Franklin Gothic Medium';


}

#main {
    text-align: center;
    padding: 10px;
    background-color: #556B2F;

}

#assignments {
    background-color: #556B2F;
    text-align: lcenter;
    padding: 20px;
}

#assignments h3 {
    text-align: center;
}

#assignments ol {
    padding-left: 10px;
}

#assignments li {
    margin-bottom: 10px;
}

#assignments li a {
    text-align: left; 
    padding: 10px;
    text-decoration: none;
    color: #B7CE90;
}

#assignments li a:hover {
    text-decoration: none;
    color: #FF8C00;

}