body {
    background-color: #3A6EA5;
    border: 10px gold;
    padding: 10px;
    font-family: 'Segoe UI';
    margin: 0;
    color: navy;
    background-image: url('https://sockrubbah.github.io/Assignments/Assignment2/image3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

#main h1 {
    text-align: center
}

#links {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
}

#links a:hover {
    background-color: goldenrod;
}

h2 {
    text-align: center;
}

img {
    display: inline-block;
    margin: 10px auto;
    border: 3px lightgoldenrodyellow;
}

table {
    border-collapse: separate;
    margin: 10px auto;
}

table th {
    background-color: lightskyblue;
    color: black;
    padding: 10px;
    text-align: center;
}

table td {
    background-color: lightgoldenrodyellow;
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
}