body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Main-Title {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
}

.bar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: lightcoral;
    text-align: center;  /* Center link inside the container */
}

.bar li {
    flex: 1;
    display: inline;
    background-color: lightcoral;
    border: 1px solid aquamarine;  /* Border should have solid color */
}

.main-content h1 {
    text-align: left;
}

.ideas-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.ideas-separate {
    padding: 20px;
    margin: 10px;
    border-radius: 1px;
    color: white;
    flex-grow: 1;
    flex-basis: 30%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.ideas-separate>h2, h3, p {
    margin: 5px;
    font-size: 90%;
}

.ideas-separate article {
    padding: 10px;
    box-sizing: border-box;
    background-color: cyan;
}

.ideas-separate:nth-child(2) {
    background-color: lightcoral;
    flex-direction: row-reverse;
}

.ideas-separate img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    align-self: center;
}

.titles-main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: stretch;
    width: 100%;
    text-align: center;
}

.titles-single {
    flex: 1 1 22%;
    padding: 15px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.titles-single h2 {
    margin-top: 10px;
}

.titles-links {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
    padding: 10px;
    box-sizing: border-box;
}

.titles-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.titles-links li {
    margin-bottom: 10px;
    color: white;
}
