body {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bar a {
    display: block;
    padding: 10px;
    background-color: lightcoral;
    float: left;
}

.bar li{
    display: inline;
    flex-wrap:wrap;
    background-color:lightcoral;
    border: 1px;
}