body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}

.top-header {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-main {
    flex: 1;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.nav-gateways {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.nav-gateways a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.college-header-bar {
    background-color: red;
    padding: 10px 20px;
}

.college-header {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
    font-weight: bold;
}

.nav-secondary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    margin-top: 0px;
}

.nav-secondary a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.search-bar {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.search-bar input {
    padding: 5px;
    font-size: 14px;
    width: 200px;
}
