:root {
    --green: #00722f;
    --yellow: #FFFF99;
    --beige: #A68A64;
    --red: #FF0000;
    --orange: #FFA500;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--green);
    color: var(--yellow);
    margin: 0;
    padding: 0;
}

nav {
    background: var(--beige);
    padding: 10px 0;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav li {
    border: 2px solid black;
    padding: 8px 15px;
    margin: 20px;
}

nav li:nth-child(1) {
    background: var(--red);
}

nav li:nth-child(2) {
    background: var(--orange);
}

nav li:nth-child(3) {
    background: var(--yellow);
}

nav li:nth-child(4) {
    background: var(--green);
}

nav li:nth-child(5) {
    background: var(--blue);
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
}

header {
    text-align: center;
    margin: 20px;
    color: var(--yellow);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about {
    background: var(--yellow);
    padding: 15px;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    margin-right: 20px;
    position: absolute;
    left: 20px;
    color: black;
}

img {
    width: 700px;
    height: auto;
    border: 2px solid black;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.box {
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    flex-direction: column;
    align-items: center;
}

.post-author {
    background: grey;
    color: white;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
    margin: auto;
    text-align: center;
}

.box img {
    width: 200px;
    height: 200px;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
}

.post-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    margin: auto;
    gap: 20px;
    padding: 20px;
}

.left-side {
    width: 60%;
    background: var(--yellow);
    padding: 20px;
    height: 350px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.image-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#upload-image {
    padding: 5px;
    width: 100%;
}

.confirm-image,
.confirm-text {
    background: var(--green);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
}

#post-description {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.right-side {
    width: 40%;
    height: 350px;
    background: var(--yellow);
    padding: 15px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.right-side h2 {
    text-align: center;
    color: black;
}

.settings-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-side select {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    font-weight: bold;
}

.create-post {
    background: var(--green);
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.profile-container .left-side {
    width: 50%;
    background: yes;
    padding: 20px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.profile-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-container h2 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.edit-bio {
    background: var(--green);
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}

.right-side {
    width: 55%;
    background: var(--beige);
    padding: 20px;
    border: 2px solid black;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 15px;
}

.posts {
    margin-bottom: 20px;
}

.post-box {
    background: var(--green);
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

.forum-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forum-post {
    background: var(--green);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: auto;
    box-sizing: border-box;
}