:root {
    --green: #00722f;
    --yellow: #FFFF99;
    --beige: #A68A64;
    --red: #FF0000;
    --orange: #FFA500;
    --yellow: #FFFF00;
    --green: #008000;
    --blue: #0000FF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--green);
    color: var(--yellow);
    margin: 0;
    padding: 0;
}

nav {
    background: var(--beige);
    padding: 10px 0;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav li {
    border: 2px solid black;
    padding: 8px 15px;
    margin: 20px;
}

nav li:nth-child(1) {
    background: var(--red);
}

nav li:nth-child(2) {
    background: var(--orange);
}

nav li:nth-child(3) {
    background: var(--yellow);
}

nav li:nth-child(4) {
    background: var(--green);
}

nav li:nth-child(5) {
    background: var(--blue);
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
}

header {
    text-align: center;
    margin: 20px;
    color: var(--yellow);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about {
    background: var(--yellow);
    padding: 15px;
    border: 2px solid black;
    width: 200px;
    text-align: center;
    margin-right: 20px;
    position: absolute;
    left: 20px;
    color: black;
}

img {
    width: 700px;
    height: auto;
    border: 2px solid black;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.box {
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.post-author {
    background: grey;
    color:white;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 15px 15px 0px 0px;
    align-items:center;
    margin: auto;
}

.box img {
    width: 200px;
    height: 200px;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
}