body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

header {
    text-align: center;
    font-size: large;
}

main a {
    text-decoration: none;
    text-align: center;
    color: red;
    font-size: 24px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
}