body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 900px;
    margin: 10px auto;
}

header {
    text-align: center;
    color: teal;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}

.content img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: tan;
    border: 3px solid teal;
}

.star {
    font-size: 100px;
    display: block;
    margin-top: 30px;
}

@media (max-width: 770px) {
    .content {
        flex-direction: column;
        margin: 0;
        padding: 5px;
    }

    .column {
        width: 100%;
        min-width: unset;
        margin: 0;
        padding: 0;
    }
}